<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <nofraud>
                <model>NoFraud\Checkout\Model\NoFraud</model>
                <active>1</active>
                <title>No fraud</title>
                <order_status>pending_payment</order_status>
            </nofraud>
        </payment>
        <nofraud>
            <general>
                <merchant>megento_merchant_1</merchant>
                <api_source_js>https://dynamic-checkout-test.nofraud-test.com/latest/scripts/nf-src-magento.js</api_source_js>
                <api_refund_url></api_refund_url>
                <api_key></api_key>
            </general>
        </nofraud>
    </default>
</config>