<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="NoFraud\Checkout\Api\GetProductImage" type="NoFraud\Checkout\Model\GetProductImageUrl" />
	<preference for="NoFraud\Checkout\Api\SetOrderAttributes" type="NoFraud\Checkout\Model\SetOrderAttributesData" />
	<preference for="Magento\Checkout\Model\ShippingInformationManagement" type="NoFraud\Checkout\Model\ShippingInformationManagement" />
	<preference for="NoFraud\Checkout\Api\SetConfiguration" type="NoFraud\Checkout\Model\SetConfigurationData" />
	<preference for="NoFraud\Checkout\Api\ValidateMerchantShopInterface" type="NoFraud\Checkout\Model\ValidateMerchantShop" />
	<preference for="NoFraud\Checkout\Api\SetPaymentmode" type="NoFraud\Checkout\Model\SetPaymentmodeData" />
	<preference for="NoFraud\Checkout\Api\StoreCreditInterface" type="NoFraud\Checkout\Model\StoreCredit"/>
	<preference for="NoFraud\Checkout\Api\GiftCardAccountRepositoryInterface" type="NoFraud\Checkout\Model\GiftCard"/>
	<preference for="NoFraud\Checkout\Api\GiftCardAccountManagementInterface" type="NoFraud\Checkout\Model\GiftCardAccountManagement"/>
	<type name="Amasty\GiftCardAccount\Model\GiftCardAccount\Total\Quote\GiftCard">
        <plugin name="NF_gift_card_plugin" type="NoFraud\Checkout\Plugin\GiftCardPlugin" sortOrder="10" />
    </type>
	<preference for="NoFraud\Checkout\Api\CurrencyInformationInterface" type="NoFraud\Checkout\Model\CurrencyInformation"/>
</config>