<?xml version="1.0"?>
    <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="NoFraud\Checkout\Api\GetProductImage" type="NoFraud\Checkout\Model\GetProductImageUrl" />
	<preference for="NoFraud\Checkout\Api\SetOrderAttributes" type="NoFraud\Checkout\Model\SetOrderAttributesData" />
	<preference for="Magento\Checkout\Model\ShippingInformationManagement" type="NoFraud\Checkout\Model\ShippingInformationManagement" />
	<preference for="NoFraud\Checkout\Api\SetConfiguration" type="NoFraud\Checkout\Model\SetConfigurationData" />
	<preference for="NoFraud\Checkout\Api\ValidateMerchantShopInterface" type="NoFraud\Checkout\Model\ValidateMerchantShop" />
	<preference for="NoFraud\Checkout\Api\SetPaymentmode" type="NoFraud\Checkout\Model\SetPaymentmodeData" />
	<preference for="NoFraud\Checkout\Api\StoreCreditInterface" type="NoFraud\Checkout\Model\StoreCredit"/>
	<preference for="NoFraud\Checkout\Api\GiftCardAccountRepositoryInterface" type="NoFraud\Checkout\Model\GiftCard"/>
	<preference for="NoFraud\Checkout\Api\GiftCardAccountManagementInterface" type="NoFraud\Checkout\Model\GiftCardAccountManagement"/>
	<preference for="NoFraud\Checkout\Api\CurrencyInformationInterface" type="NoFraud\Checkout\Model\CurrencyInformation"/>
	<preference for="NoFraud\Checkout\Api\PhonenumberInterface" type="NoFraud\Checkout\Model\PhonenumberData" />
	<preference for="NoFraud\Checkout\Api\CustomerInformationInterface" type="NoFraud\Checkout\Model\CustomerInformation"/>	
	<preference for="Magento\Payment\Model\Checks\ZeroTotal" type="NoFraud\Checkout\Model\Checks\ZeroTotal" />
	<preference for="NoFraud\Checkout\Api\StoreCreditManagementInterface" type="NoFraud\Checkout\Model\StoreCreditManagement"/>
	<preference for="NoFraud\Checkout\Api\FacebookPixelInterface" type="NoFraud\Checkout\Model\FacebookPixelCheckoutEvent"/>
	<preference for="Route\Route\Helper\Data" type="NoFraud\Checkout\Helper\RouteData" />
	<type name="Magento\Quote\Api\CartRepositoryInterface">
		<plugin name="GiftCardQuoteExtension" type="NoFraud\Checkout\Plugin\Quote\CartRepositoryPlugin" />
	</type>
</config>