<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="nofraud_checkout_submit_all_after" instance="NoFraud\Checkout\Observer\OrderObserver" />
    </event>
	<event name="sales_quote_load_after">
        <observer name="nofraud_sales_quote_load_after" instance="NoFraud\Checkout\Observer\ProductInterface" />
    </event>
    <!-- <event name="sales_order_creditmemo_save_after"> --> 
    <event name="sales_order_creditmemo_refund">
        <observer name="nofraud_sales_order_creditmemo_refund" instance="NoFraud\Checkout\Observer\CancelNofraudObserver"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="nofraud_sales_order" instance="NoFraud\Checkout\Observer\StatusChangeNofraudObserver"/>
    </event>
    <event name="admin_system_config_changed_section_nofraud">
        <observer name="nofraud_admin_system_config_changed_section_nofraud" instance="NoFraud\Checkout\Observer\ConfigChangeObserver"/>
    </event>
</config>