<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
		<!-- add new tab in system configuration section -->
        <tab id="nofraud" translate="label" sortOrder="500">
            <label>NoFraud</label>
        </tab>
		<!-- create section -->
        <section id="nofraud" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Checkout</label>
            <!-- Assign section to tab -->
            <tab>nofraud</tab>
            <resource>NoFraud_Checkout::custom</resource>
            <!-- create group for fields in section -->
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="enabled" translate="label" type="select" 
                    sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable NoFraud Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This settings will activate or deactivate Nofraud Checkout.</comment>
                </field>
				<field id="merchant" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant Id</label>
                    <comment><![CDATA[Don't have an account? Please <a href="https://portal.nofraud.com" target="_blank"> click here</a> to create one.]]></comment>
                </field>
                <field id="api_source_js" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>API souce js</label>
				</field>
                <field id="api_refund_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Refund API URL</label>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                </field>
            </group>
            <group id="advance" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced Nofraud Checkout Settings</label>
                <field id="list_mode" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Mode</label>        
                    <source_model>NoFraud\Checkout\Model\Config\Source\CheckoutMode</source_model>
                </field>
                <field id="api_source_js" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>API Source Js</label>
				</field>
                <field id="api_refund_url" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Refund API URL</label>
                </field>
            </group>
        </section>
		<section id="payment">
                <group id="nofraud" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>NoFraud Method</label>
                    <field id="active" translate="label comment" sortOrder="10" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Title</label>
                    </field>
                </group>
        </section>
    </system>
</config>
